html {
	background-color: #424242;
	overflow-y: auto;
}

body {
	background-color: #424242;
	height: 100%;
	color: white;
}

#search_menu {
	position: fixed;
	z-index: 1;
	width: 270px;
	max-height: 100%;
	top: 150px;
	left: 20px;
	background-color: #262626;
}

#search_items {
	margin: 0 auto;
	width: 90%;
	font-size: 16pt;
	color: #4f92ff;
}

#search_items input{
	margin-bottom: 10px;
}

#main_container {
	z-index: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}


#content {
	width: 100%;
	height: 100%;
	padding-left: 0px;
	overflow-x: hidden;
}

#results {
	position: relative;
	margin: 0 auto;
	width: 70%;
	margin-top: 50px;
}

.tweet {
	position: absolute;
	border-radius: 10px;
	width: 400px;
}

.tweet .media-content {
	overflow: hidden;
}

#search {
	position: fixed;
	margin: 0 auto;
	padding-top: 20px;
	width: 350px;
}

#search_box {
	width: 100%;
}

#search_btn {
	width: 100%;
	font-size: 14pt;
	background-color: #2ba3ff;
	text-decoration: none;
	color: white;
	border: none;
	height: 35px;
}

.retweet-content {
	transition: color 0.5s ease;
	white-space: pre-wrap;
	/*color: #848484;*/
	color: black;
}

.retweet-content:hover {
	transition: color 0.5s ease;
	color: black;
}

.retweet {
	color: black;
}

@media only screen and (max-width: 1626px) {
	#main_container {
		margin-left: 100px;
	}

	#results {
		column-count: 2;
	}
}

@media only screen and (max-width: 1024px) {
	#results {
		margin-bottom: 20px;
		column-count: 1;
		padding: 0;
	}

	.tweet {
		display: inline-block;
		width: 100%;
		font-size: 16pt;
	}
}