html {
	background-color: #424242;
	overflow-y: auto;
}

body {
	background-color: #424242;
	height: 100%;
	color: white;
}

nav {
	border-bottom: 1px solid #5b5b5b;
}

#search_menu {
	position: fixed;
	z-index: 1;
	width: 300px;
	max-height: 100%;
	top: 150px;
	left: 20px;
	background-color: #262626;
}

#results_hero {
	position: fixed;
	background-color: #262626;
	width: 100%;
	z-index: 3;
	padding-bottom: 15px;
}

#search_results {
	margin: 0 auto;
	width: 50%;
	margin-top: 20px;
}

#search_items {
	margin: 0 auto;
	width: 90%;
	font-size: 16pt;
	color: #4f92ff;
}

#search_items input{
	margin-bottom: 10px;
}

#main_container {
	z-index: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}


#content {
	width: 100%;
	height: 100%;
	padding-left: 0px;
	overflow-x: hidden;
	padding-bottom: 50px;
}

#results {
	position: relative;
	margin: 0 auto;
	width: 70%;
	margin-top: 90px;
	margin-left: 370px;
}

.tweet {
	position: absolute;
	border-radius: 10px;
	width: 400px;
}

.tweet .media-content {
	overflow: hidden;
}

#search {
	position: fixed;
	margin: 0 auto;
	padding-top: 20px;
	width: 350px;
}

#search_box {
	width: 100%;
}

.menu_button {
	width: 100%;
	font-size: 14pt;
	text-decoration: none;
	color: white;
	border: none;
	height: 35px;
	margin-bottom: 10px;
}

	#search_btn {
		margin-bottom: 30px;
		background-color: #2ba3ff;
	}

.retweet-content {
	transition: color 0.5s ease;
	white-space: pre-wrap;
	/*color: #848484;*/
	color: black;
}

.retweet-content:hover {
	transition: color 0.5s ease;
	color: black;
}

.retweet {
	color: black;
}

/*@media only screen and (max-width: 1024px) {
	.navbar .navbar-brand {
		font-size: 18pt;
	}

	.navbar .navbar-brand button {
		width: 65px;
		height: 65px;
		font-size: 18pt;
	}

	#search_menu {
		display: none;
		margin: 0;
		z-index: 1;
		width: 100%;
		max-height: 100%;
		top: 0;
		left: 0;
		background-color: #262626;
		font-size: 16pt;
	}

	.control input{
		height: 50px;
		font-size: 16pt;
	}

	.control span{
		height: 50px;
		font-size: 16pt;
	}

	#search_menu input {
		height: 50px;
		font-size: 16pt;
	}

	#search_btn {
		height: 50px;
		font-size: 16pt;
	}

	#results_hero {
		display: none;
	}


	#results {
		column-count: 2;
	}
}*/

@media only screen and (max-width: 1024px) {
	.tweet {
		position: initial;
		display: block;
		width: 100%;
		font-size: 16pt;
		top: auto;
		margin-bottom: 10px;
	}

	.navbar .navbar-brand {
		font-size: 18pt;
	}

	.navbar .navbar-brand button {
		width: 65px;
		height: 65px;
		font-size: 18pt;
	}

	#search_menu {
		display: none;
		margin: 0;
		margin-top: 10px;
		z-index: 1;
		width: 100%;
		max-height: 100%;
		top: 0;
		left: 0;
		background-color: #262626;
		font-size: 16pt;
	}

	#search_menu label {
		font-size: 16pt;
	}

	.control input{
		height: 55px;
		font-size: 18pt;
	}

	.control span{
		height: 55px;
		font-size: 18pt;
	}

	#search_menu input {
		height: 55px;
		font-size: 18pt;
	}

	.menu_button {
		height: 55px;
		font-size: 18pt;
	}

	#search_btn {
		margin-bottom: 30px;
		background-color: #2ba3ff;
	}

	#results_hero {
		display: none;
	}

	#results {
		margin: 0 auto;
		margin-bottom: 20px;
		margin-top: 30px;
		width: 90%;
		padding: 0;
	}


	#post_tweet .modal-content {
		font-size: 17pt;
	}

	#post_tweet .modal-content label {
		font-size: 17pt;
	}

	#post_tweet .modal-content textarea {
		height: 400px;
		font-size: 17pt;
	}
}